* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 100px;
}


#form_area input {
    width: 300px;
    line-height: 48px;
    margin-top: 10px;
}

#button_area {
    display: flex;
}
#button_area input {
    width: 48px;
    height: 32px;
    margin-right: 16px;
    margin-top: 16px;
}

#schedule {
    display: flex;
}
.match {
    display: flex;
}
.week {
    margin-right: 10px;
    width: 300px;
    text-align: center;
    margin-top: 16px;
}

.hidden{
    display: none;
}

#OK {
    width: 48px;
    height: 32px;
    margin-top: 16px;
}

.week li div{
    line-height: 48px;
    width: 97px;
    border: solid 1px black;
    margin-left: 1px;
    margin-bottom: 3px;
}

.green {
    background-color: greenyellow;
}
.gray {
    background-color: gray;
    color: white;
}

#result {
    margin-top: 32px;
    font-size: 24px;
}
